@using System.Linq;
@model PriceServiceViewModel
<section class="ftco-section bg-light mt-2">
    <div class="container">
        <div class="row justify-content-center mb-1 pb-2">
            <div class="col-md-8 text-center heading-section ftco-animate">
                <h2 class="mb-4">Прайс</h2>
            </div>
        </div>
        <div>
            @Html.DropDownList("Groups", new SelectList(Model.PriceServiceDep.Select(c => c.GroupName), "Id", "Name", 3), new { id = "groups" })
            @Html.DropDownList("Departments", new SelectList(Model.PriceServiceDep.SelectMany(c => c.DepartName), "Id", "Name", 3), new { id = "departments" })
        </div>
        @section scripts{
            <script type="text/javascript">
                $(function () {

                $('#groups').change(function()
                {
                    // получаем выбранный id
                    var id = $(this).val();
                        $.ajax({
                            type: 'GET',
                            url: '@Url.Action("GetItems")/' + id,
                            success: function (data)
                            {

                                // заменяем содержимое присланным частичным представлением
                                $('#departments').replaceWith(data);
                            }
                        });
                });
            })
            </script>
        }
        <table class="table table-bordered table-hover">
            <thead class="thead-dark text-center">
                <tr>
                    <th scope="col">Наименование</th>
                    <th scope="col">Цена</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var price in Model.PriceService)
                    {
                        <tr>
                            <td>@price.name</td>
                            <td>@price.price</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</section>