@model HomeViewModel
<section class="home-slider owl-carousel mb-4">
    @foreach (var slider in Model.Slider)
    {
        <div class="slider-item" style="background-image:url('@Url.Content(slider.Image)');" data-stellar-background-ratio="0.5">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text align-items-center justify-content-start" data-scrollax-parent="true">
                    @*<div class="col-md-6 text ftco-animate">
                        <h1 class="mb-4">@slider.title<span>@slider.postTitle</span></h1>
                        <h3 class="subheading">@slider.description</h3>
                    </div>*@
                </div>
            </div>
        </div>
    }
</section>

<section class="ftco-intro ftco-services" style="background-image: url(@Url.Content("~/images/bg_3.jpg"));" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h2>Работа в системе ОМС</h2>
                <p class="mb-0">Диагностический центр «Забота» получил возможность оказания некоторых услуг гражданам бесплатной медицинской помощи в Ростовской области.</p>
                <p></p>
            </div>
            <div class="col-md-3 d-flex align-items-center">
                <p class="mb-0"><a href="/Pages/OMS" class="btn btn-secondary px-4 py-3">Подробнее</a></p>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-no-pt mt-5">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
            <div class="col-md-8 text-center heading-section ftco-animate">
                <span class="subheading">Врачи</span>
                <h2 class="mb-4">Наши квалифицированные специалисты</h2>
            </div>
        </div>
        <div class="row">
            @foreach (var doctor in Model.Doctors)
            {
                <div class="col-md-6 col-lg-3 ftco-animate">
                    <div class="staff">
                        <div class="img-wrap d-flex align-items-stretch">
                            @{
                                if (doctor.doctors.sex == "male")
                                {
                                    <div class="img align-self-stretch" style="background-image: url(@Url.Content("images/staff/male.jpg"));"></div>
                                }
                                else
                                {
                                    <div class="img align-self-stretch" style="background-image: url(@Url.Content("images/staff/female.jpg"));"></div>
                                }
                            }
                        </div>
                        <div class="text pt-3 text-center">
                            <h3><a href="/Schedule/Single/@doctor.doctors.id">@doctor.doctors.fio</a></h3>
                            <a href="/Schedule/Doctor/@doctor.cat_id"><span class="position mb-2">@doctor.category</span></a>
                            <div class="faded">
                                <p>@doctor.doctors.position</p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<section class="ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
            <div class="col-md-8 text-center heading-section ftco-animate">
                <span class="subheading">Новости</span>
                <h2 class="mb-4">Недавние новости</h2>
            </div>
        </div>
        <div class="row">
            @{
                foreach (var news in Model.LastNews)
                {

                    <div class="col-md-4 ftco-animate">
                        <div class="blog-entry">
                            <a href="#" class="block-20" style="background-image: url('@Url.Content("~/images/image_1.jpg")');">
                                <div class="meta-date text-center p-2">
                                    <span class="day">@news.Date.ToString("dd")</span>
                                    <span class="mos">@news.Date.ToString("MMMM")</span>
                                    <span class="yr">@news.Date.ToString("yyyy")</span>
                                </div>
                            </a>
                            <div class="text bg-white p-4">
                                <h3 class="heading"><a href="#">@news.Name</a></h3>
                                <p>@news.Decription</p>
                                <div class="d-flex align-items-center mt-4">
                                    <p class="mb-0"><a href="#" class="btn btn-primary">Подробнее <span class="ion-ios-arrow-round-forward"></span></a></p>
                                    <p class="ml-auto mb-0"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>
<section class="ftco-section testimony-section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
            <div class="col-md-8 text-center heading-section ftco-animate">
                <span class="subheading">Отзывы</span>
                <h2 class="mb-4">Наши Пациенты говорят о Нас</h2>
            </div>
        </div>
        <div class="row ftco-animate justify-content-center">
            <div class="col-md-8">
                <div class="carousel-testimony owl-carousel">
                    @{ foreach (var review in Model.LastReviews)
                        {
                            <div class="item">
                                <div class="testimony-wrap d-flex">
                                    <div class="user-img mr-4" style="background-image: url(@Url.Content("~/images/review_people.png"))">
                                    </div>
                                    <div class="text ml-2 bg-light">
                                        <span class="quote d-flex align-items-center justify-content-center">
                                            <i class="icon-quote-left"></i>
                                        </span>
                                        <p>@review.Text</p>
                                        <p class="name">@review.Author</p>
                                        <span class="position">@review.Date</span>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</section>



