@model NewsViewModel

<section class="ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
            <div class="col-md-8 text-center heading-section ftco-animate">
                <span class="subheading">Новости</span>
            </div>
        </div>
        <select class="custom-select my-1 mr-sm-2 ftco-animate" id="category" name="Category" onchange="getbycat(this.value)">
            <option value="" selected disabled hidden>Выберите категорию...</option>
            <option value="all">Все</option>
            @foreach (var category in Model.Category)
            {
                <option value="@category.Id">@category.Name</option>
            }
        </select>
        <div id="fromCat">
            @Html.PagedListPager((IPagedList)Model.News, page => Url.Action(Model.PagingMethod, new { page = page }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(Model.PaginationOptions, new AjaxOptions(){  HttpMethod = "GET", UpdateTargetId = "fromCat"}))
            <div class="row">
                @{
                    foreach (var news in Model.News)
                    {

                        <div class="col-4 ftco-animate">
                            <div class="blog-entry">
                                <a href="#" class="block-20" style="background-image: url('@Url.Content("~/images/image_1.jpg")');">
                                    <div class="meta-date text-center p-2">
                                        <span class="day">@news.Date.ToString("dd")</span>
                                        <span class="mos">@news.Date.ToString("MMMM")</span>
                                        <span class="yr">@news.Date.ToString("yyyy")</span>
                                    </div>
                                </a>
                                <div class="text bg-white p-4">
                                    <h3 class="heading"><a href="#">@news.Name</a></h3>
                                    <p>@news.Description</p>
                                    <div class="d-flex align-items-center mt-4">
                                        <p class="mb-0"><a href="#" class="btn btn-primary">Подробнее <span class="ion-ios-arrow-round-forward"></span></a></p>
                                        <p class="ml-auto mb-0"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
            @Html.PagedListPager((IPagedList)Model.News, page => Url.Action(Model.PagingMethod, new { page = page }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(Model.PaginationOptions, new AjaxOptions(){  HttpMethod = "GET", UpdateTargetId = "fromCat"}))
        </div>
    </div>
</section>
@section scripts
{ 
    <script type="text/javascript">
        function getbycat(val)
                {
                    var id = val;
                    if (id == "all")
                    {
                        $.ajax({
                            type: 'GET',
                            url: '@Url.Action("GetAllPaged")',
                            success: function (data) {
                            $('#fromCat').replaceWith(data);
                            }
                        });
                    }
                    else {
                        $.ajax({
                            type: 'GET',
                            url: '@Url.Action("GetByCategoryPaged")/?id=' + id,
                            success: function (data) {
                            $('#fromCat').replaceWith(data);
                            }
                        });
                    }
                }
    </script>
}

