@model NewsViewModel

<section class="ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
            <div class="col-md-8 text-center heading-section ftco-animate">
                <span class="subheading">Новости</span>
                <h2 class="mb-4">Все новости</h2>
                <p>Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country</p>
            </div>
        </div>
        @*<h3>@Model.currCategory</h3>*@
        <div class="row">
            @{
                foreach (var news in Model.AllNews)
                {

                    <div class="col-md-4 ftco-animate">
                        <div class="blog-entry">
                            <a href="#" class="block-20" style="background-image: url('@Url.Content("~/images/image_1.jpg")');">
                                <div class="meta-date text-center p-2">
                                    <span class="day">@news.newsDate.ToString("dd")</span>
                                    <span class="mos">@news.newsDate.ToString("MMMM")</span>
                                    <span class="yr">@news.newsDate.ToString("yyyy")</span>
                                </div>
                            </a>
                            <div class="text bg-white p-4">
                                <h3 class="heading"><a href="#">@news.newsName</a></h3>
                                <p>@news.newsDecription</p>
                                <div class="d-flex align-items-center mt-4">
                                    <p class="mb-0"><a href="#" class="btn btn-primary">Подробнее <span class="ion-ios-arrow-round-forward"></span></a></p>
                                    <p class="ml-auto mb-0"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>


