@model NewsViewModel
    <div id="fromCat">
        @Html.PagedListPager((IPagedList)Model.News, page => Url.Action(Model.PagingMethod, new { id = Model.News.FirstOrDefault().categoryID, page = page }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(Model.PaginationOptions, new AjaxOptions(){  HttpMethod = "GET", UpdateTargetId = "fromCat"}))
        <div class="row">
            @{
                foreach (var news in Model.News)
                {

                    <div class="col-4">
                        <div class="blog-entry">
                            <a href="#" class="block-20" style="background-image: url('@Url.Content("~/images/image_1.jpg")');">
                                <div class="meta-date text-center p-2">
                                    <span class="day">@news.Date.ToString("dd")</span>
                                    <span class="mos">@news.Date.ToString("MMMM")</span>
                                    <span class="yr">@news.Date.ToString("yyyy")</span>
                                </div>
                            </a>
                            <div class="text bg-white p-4">
                                <h3 class="heading"><a href="#">@news.Name</a></h3>
                                <p>@news.Decription</p>
                                <div class="d-flex align-items-center mt-4">
                                    <p class="mb-0"><a href="#" class="btn btn-primary">Подробнее<span class="ion-ios-arrow-round-forward"></span></a></p>
                                    <p class="ml-auto mb-0"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    @Html.PagedListPager((IPagedList)Model.News, page => Url.Action(Model.PagingMethod, new { id = Model.News.FirstOrDefault().categoryID, page = page }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(Model.PaginationOptions, new AjaxOptions(){  HttpMethod = "GET", UpdateTargetId = "fromCat"}))
</div>