@model ScheduleViewModel
<section class="ftco-section bg-light pt-5">
    <div class="container">
        <div class="row justify-content-center mb-1 pb-2">
            <div class="col-md-8 text-center heading-section ftco-animate">
                <h2 class="mb-4">Расписание</h2>
            </div>
        </div>
        <div>
                <span class="subheading"></span>
        </div>
            <table class="table table-bordered table-hover ftco-animate">
                <thead class="thead-dark text-center">
                <tr>
                    <th scope="col">ФИО</th>
                    <th scope="col">Степень, Звание</th>
                    <th scope="col">Пн</th>
                    <th scope="col">Вт</th>
                    <th scope="col">Ср</th>
                    <th scope="col">Чт</th>
                    <th scope="col">Пт</th>
                    <th scope="col">Сб</th>
                    <th scope="col">Вс</th>
                </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var post in Model.Posts)
                        {
                            <tr>
                                <td class="text-center" scope="col" colspan="9"><b>@post</b></td>
                            </tr>
                            foreach (var schedule in Model.Schedule.Where(c => c.CategoryName == post))
                            {
                                <tr>
                                    <td><a href="/Schedule/Single/@schedule.Doctor.Id">@schedule.Doctor.Name</a></td>
                                    <td>@schedule.Doctor.Position</td>
                                    <td class="text-center">@schedule.Doctor.Schedule.Monday</td>
                                    <td class="text-center">@schedule.Doctor.Schedule.Tuesday</td>
                                    <td class="text-center">@schedule.Doctor.Schedule.Wednesday</td>
                                    <td class="text-center">@schedule.Doctor.Schedule.Thursday</td>
                                    <td class="text-center">@schedule.Doctor.Schedule.Friday</td>
                                    <td class="text-center">@schedule.Doctor.Schedule.Saturday</td>
                                    <td class="text-center">@schedule.Doctor.Schedule.Sunday</td>
                                 </tr>
                            }
                        }
                    }
                </tbody>
            </table>
    </div>
</section>