@model ScheduleViewModel
    <div id="doctors">
        @Html.PagedListPager((IPagedList)Model.Schedule, page => Url.Action("PagedDoctorsList", new { page = page }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(Model.PaginationOptions, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "doctors" }))
        <div class="row">
            @foreach (var doctor in Model.Schedule)
            {
                <div class="col-md-6 col-lg-3">
                    <div class="staff border shadow">
                        <div class="img-wrap d-flex align-items-stretch">
                            @{
                                if (doctor.DoctorInfo != null)
                                {
                                    <div class="img align-self-stretch" style="background-image: url(@Url.Content(doctor.DoctorInfo.Photo));"></div>
                                }
                                else if (doctor.Doctor.Sex == "male")
                                {
                                    <div class="img align-self-stretch" style="background-image: url(@Url.Content("~/images/staff/male.jpg"));"></div>
                                }
                                else
                                {
                                    <div class="img align-self-stretch" style="background-image: url(@Url.Content("~/images/staff/female.jpg"));"></div>
                                }
                            }
                        </div>
                        <div class="text pt-3 text-center pb-3">
                            <h3><a href="/Schedule/Single/@doctor.Doctor.Id">@doctor.Doctor.Name</a></h3>
                            <a href="/Schedule/Doctor/@doctor.CategoryID"><span class="position">@doctor.CategoryName</span></a>
                               @doctor.Doctor.Position
                        </div>
                    </div>
                </div>
            }
        </div>
        @Html.PagedListPager((IPagedList)Model.Schedule, page => Url.Action("PagedDoctorsList", new { page = page }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(Model.PaginationOptions, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "doctors" }))
    </div>