@model ScheduleViewModel
    <div id="doctors">
        @Html.PagedListPager((IPagedList)Model.Schedule, page => Url.Action("PagedDoctorsList", new { page = page }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(Model.PaginationOptions, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "doctors" }))
        <div class="row">
            @foreach (var doctor in Model.Schedule)
            {
                <div class="col-md-6 col-lg-3">
                    <div class="staff">
                        <div class="img-wrap d-flex align-items-stretch">
                            @{
                                if (doctor.doctors.sex == "male")
                                {
                                    <div class="img align-self-stretch" style="background-image: url(@Url.Content("~/images/staff/male.jpg"));"></div>
                                }
                                else
                                {
                                    <div class="img align-self-stretch" style="background-image: url(@Url.Content("~/images/staff/female.jpg"));"></div>
                                }
                            }
                        </div>
                        <div class="text pt-3 text-center">
                            <h3><a href="/Schedule/Single/@doctor.doctors.id">@doctor.doctors.fio</a></h3>
                            <a href="/Schedule/Doctor/@doctor.cat_id"><span class="position mb-2">@doctor.category</span></a>
                            <div class="faded">
                                <p>@doctor.doctors.position</p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        @Html.PagedListPager((IPagedList)Model.Schedule, page => Url.Action("PagedDoctorsList", new { page = page }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(Model.PaginationOptions, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "doctors" }))
    </div>