@model ScheduleViewModel
    <section class="ftco-section bg-light">
        <div class="container">
            <div class="row justify-content-center mb-1 pb-2">
                <div class="col-md-8 text-center heading-section ftco-animate">
                    <h2 class="mb-4">Расписание</h2>
                    <span class="subheading">@Model.SingleSchedule.Doctor.Name, <a href="/Schedule/Doctor/@Model.SingleSchedule.CategoryID">@Model.SingleSchedule.CategoryName</a></span>
                </div>
            </div>
            <div class="row">
                <table class="table table-bordered table-hover ftco-animate">
                    <thead class="thead-dark text-center">
                        <tr>
                            <th scope="col">ФИО</th>
                            <th scope="col">Степень, Звание</th>
                            <th scope="col">Пн</th>
                            <th scope="col">Вт</th>
                            <th scope="col">Ср</th>
                            <th scope="col">Чт</th>
                            <th scope="col">Пт</th>
                            <th scope="col">Сб</th>
                            <th scope="col">Вс</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Model.SingleSchedule.Doctor.Name</td>
                            <td>@Model.SingleSchedule.Doctor.Position</td>
                            <td class="text-center">@Model.SingleSchedule.Doctor.Schedule.Monday</td>
                            <td class="text-center">@Model.SingleSchedule.Doctor.Schedule.Tuesday</td>
                            <td class="text-center">@Model.SingleSchedule.Doctor.Schedule.Wednesday</td>
                            <td class="text-center">@Model.SingleSchedule.Doctor.Schedule.Thursday</td>
                            <td class="text-center">@Model.SingleSchedule.Doctor.Schedule.Friday</td>
                            <td class="text-center">@Model.SingleSchedule.Doctor.Schedule.Saturday</td>
                            <td class="text-center">@Model.SingleSchedule.Doctor.Schedule.Sunday</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            @if (Model.SingleSchedule.DoctorInfo != null) {
            <div class="row">
                <div class="col-md-4">
                    <img src="@Url.Content(Model.SingleSchedule.DoctorInfo.Photo)" class="img-fluid">
                </div>
                <div class="col-md-8">
                    @Html.Raw(@Model.SingleSchedule.DoctorInfo.Description)
                </div>
            </div>
            }
        </div>
    </section>




